@page "/help"

<PageTitle>Ajuda</PageTitle>

<h1>Painel de Ajuda</h1>

<p>O que o Code Review consegue fazer por você?</p>

<table class="table">
    <tr>
        <th colspan="1">
            O Code Review (IA) pode:
            <ul>
                <li>Aprimorar e otimizar código</li>
                <li>Corrigir bugs</li>
                <li>Refatorar e aplicar boas práticas</li>
                <li>Melhorar desempenho e eficiência</li>
                <li>Gerar comentários e documentação</li>
                <li>Revisar segurança e compatibilidade</li>
            </ul>
        </th>
    </tr>
</table>